/* здесь используйте глобальные переменные */
@mixin font-regular {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
}
@mixin font-500 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
}
@mixin font-600 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
}
@mixin font-700 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

$tablet-width: 768px;
$desktop-width: 1440px;
$desktop-width-only: 1439px;
$mobile-width-only: 767px;


$white: #FFFFFF;
$gray: #BDBDBD;
$black: #333333;
$primary: #7859CF;
$secondary: #F0EBFF;

$primary--opaque: rgba(120, 89, 207, 0.25);
$primary--light: #9070EC;
$primary--dark: #593CAC;
$gray--light: #E2E2E2;

$bg-gray: #F8F8F8;
$bg-beige: #F3EBE1;
$bg-lavender: #EAE6FC;
$bg-dark: #E5E6E8;

@mixin padding-side--small {
  padding-left: 20px;
  padding-right: 20px;
}
@mixin padding-side--large {
  padding-left: 40px;
  padding-right: 40px;
}
